# =========================================
# Secrets
# =========================================

Backend/.env
Frontend/.env


# =========================================
# Python
# =========================================

Backend/venv/
Backend/__pycache__/
**/__pycache__/
*.pyc


# =========================================
# User data / local database
# =========================================

Backend/uploads/
Backend/papermind.db


# =========================================
# Frontend
# =========================================

Frontend/node_modules/
Frontend/dist/


# =========================================
# Editors
# =========================================

.vscode/
.idea/